

.design-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12.5px;
}

.design-nav__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid lightgray; */
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: rgb(248, 246, 242);
}

.design-nav__item-image {
  width: 70%;
  height: 70%;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.design-nav__item-link:hover .design-nav__item-image {
  transform: scale(1.15);
}

.design-nav__item-link:hover {
  border: 1px solid rgb(193, 195, 182);
}

@media (max-width: 1024px) {
  .design-nav__item-link {
    height: 30vw;
    width: 30vw;
  }

  .design-nav__item-name {
    font-size: 12px;
    white-space: nowrap;
  }

  .design-nav__item-image,
  .packaging__item-image {
    aspect-ratio: 1/1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .design-nav__item-link {
    height: 25vw;
    width: 25vw;
  }

  .design-nav__item-name {
    font-size: 16px;
  }
}
