.customize-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  margin: 25px 0 50px 0;
  line-height: 24px;
  gap: 15px;
}

.customize-title-text {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 500;
  margin: 0;
}

.customize-subtitle-text {
  font-size: 16px;
  margin: 0;
}

.customize-content-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 25px;
  margin-bottom: 50px;
}

.customize-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  text-align: justify;
}

.even {
  flex-direction: row-reverse;
}

.customize-content img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 50%;
}

.customize-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.customize-text h2 {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
}

.customize-text p {
  font-size: 16px;
}