.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 105px;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  padding: 20px 50px;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  z-index: 100;
  transition: top 0.3s;
}

.header-top {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-top-left,
.header-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-top-right {
  gap: 25px;
}

.hamburger {
  display: none;
}

.main-logo-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  /* height: 30px; */
  height: 20px;
  /* background-color: white; */
}

.header-top-left {
  gap: 30px;
}

.header-text-button {
  text-decoration: none;
  align-items: center;
  color: black;
  width: fit-content;
  font-weight: 500;
  white-space: nowrap;
}

.header-text-button:hover {
  font-weight: 600;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  gap: 50px;
  align-items: end;
  justify-content: center;
}

.mobile-arrow-button {
  display: none;
}

.header-top-right-button {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.favorite-hover {
  display: none;
  
}

.favorite:hover .favorite-normal {
  display: none;
}

.favorite:hover .favorite-hover {
  display: inline-block;
}

.search-hover {
  display: none;
}

.search:hover .search-normal {
  display: none;
}

.search:hover .search-hover {
  display: inline;
}

@media (max-width: 768px) {
  .header {
    height: 70px;
    padding: 20px 15px;
    background-color: white;
  }

  .header-top {
    flex: 1;
  } 

  .header-top-right {
    gap: 20px;
  }

  .hamburger {
    display: block;
    font-size: 22px;
    font-weight: 400;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1001;
  }

  .main-logo-container {
    z-index: 1001;
  }

  .main-logo {
    height: 18px;
  }

  .header-top-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .mobile-button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100% ;
  }

  .header-text-button {
    display: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
  }
  
  .mobile-arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-arrow-button img {
    height: 14px;
  }

  .mobile-button {
    display: block;
  }

  .header-bottom {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 70px 0;
    position: fixed;
    gap: 0;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .header-bottom.show {
    left: 0;
  }

  .header-top-right-button {
    height: 22px;
  }

  .account {
    display: none;
  }
}
