.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 105px;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  padding: 20px 50px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  /* text-transform: uppercase; */
  /* border-bottom: 1px solid lightgray; */
  z-index: 100;
  transition: top 0.3s;
}

.header-top {
  display: flex;
  position: relative;
  /* background-color: lightblue; */
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-top-left,
.header-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-top-right {
  gap: 25px;
}

.header-top-right-button {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.main-logo-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  /* height: 30px; */
  height: 20px;
  /* background-color: white; */
}

.header-top-left {
  gap: 30px;
}

.header-text-button {
  text-decoration: none;
  align-items: center;
  color: black;
  width: fit-content;
  white-space: nowrap;
  /* text-transform: uppercase; */

}

.header-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  gap: 50px;
  align-items: end;
  justify-content: center;
}

.mobile-arrow-button {
  display: none;
}

.header-top-right-button {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-right {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    /* background-color: lightpink; */
    padding: 20px 15px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    /* text-transform: uppercase; */
    /* border-bottom: 1px solid lightgray; */
    z-index: 100;
    transition: top 0.3s;
  }

  .header-top {
    display: flex;
    flex: 1;
    position: relative;
    /* background-color: lightblue; */
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 

  .header-top-right {
    gap: 20px;
  }

  .hamburger {
    display: block;
    font-size: 22px;
    font-weight: 400;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1001;
  }

  .main-logo-container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
  }

  .main-logo {
    /* height: 25px; */
    height: 15px;
/*     background-color: white; */
  }

  .header-top-left {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .mobile-button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100% ;
  }

  .header-text-button {
    display: none;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    color: black;
    width: fit-content;
    white-space: nowrap;
    font-weight: 500;
  }
  
  .mobile-arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-arrow-button img {
    height: 14px;
  }

  .mobile-button {
    display: block;
  }

  .header-bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 70px 0;
    position: fixed;
    gap: 0;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .header-bottom.show {
    left: 0;
  }

  .header-top-right-button {
    height: 22px;
  }

  .account {
    display: none;
  }
}
