.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 75vh;
  margin: 0 0 50px 0;
}

.hero-background {
  width: 100%;
  object-fit: cover;
}

/* === CONTENT === */

.hero-content,
.customize-content {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 40vw;
}

/* === TITLE TEXT === */

.title-text {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
}

/* === BODY TEXT === */

.body-text {
  font-size: 16px;
  margin: 0 0 10px 0;
  line-height: 26px;
}

/* === BUTTONS === */

.square-button {
  border: 1px solid white;
  color: white;
  padding: 7.5px 15px 10px 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  width: fit-content;
}

/* === BEST SELLERS === */

.best-seller-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.best-seller-content-wrapper {
  position: relative;
  padding: 0 50px;
  width: 100%;
}

.best-seller-content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22.5vw;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  color: white;

  width: 100%;
  margin-bottom: 25px;
  gap: 1vw;
  justify-content: start;
}

.best-seller-item {
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

.best-sellers-video {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 9/16;
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.best-seller-item:hover .best-sellers-video {
  transform: scale(1.03);
}

.play-button,
.mute-button,
.open-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 40px;

  background: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(10px); */
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  bottom: 15px;
}

.play-button {
  aspect-ratio: 1/1;
  right: 15px;
}

.play-button img {
  width: 30px;
}

.play-button:hover,
.open-button:hover,
.mute-button:hover {
  background: rgba(115, 115, 115, 0.6);
  /* backdrop-filter: blur(10px); */
}

.mute-button {
  aspect-ratio: 1/1;
  left: 15px;
}

.open-button {
  padding: 0 20px 2px 20px;
  left: 50%;
  transform: translateX(-50%);
}

.open-button,
.mute-button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.best-seller-item:hover .open-button,
.best-seller-item:hover .mute-button {
  opacity: 1;
}

.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 200;
  transform: translateY(-50%);

  top: 50%;

  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

.scroll-button.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.scroll-button img {
  opacity: 0.7;
}

.left-button {
  left: 60px;
  transform: rotate(180deg);
}

.right-button {
  right: 60px;
}

.best-seller-button {
  color: black;
  border: 1px solid black;
}

/* === DESIGN SECTION === */

.design-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.design-title-text {
  text-align: center;
}

.design-body-text {
  text-align: center;
  margin-bottom: 30px;
}

.design-content-container-wrapper {
  padding: 0 30px;
  width: 100%;
}

.design-content-container {
  display: grid;
  grid-template-columns: repeat(5, 17.5vw);
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 1vw;
}

.design-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.design-content a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.design-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  width: 17.5vw;
  aspect-ratio: 1/1;
  background-color: rgb(248, 246, 242);
  margin-bottom: 10px;
}

.design-image-link img {
  width: 70%;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.design-image-link:hover img {
  transform: scale(1.15);
}

.design-image-link:hover {
  border: 1px solid black;
}

/* === CUSTOMIZE SECTION === */

.customize-section {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
  margin: 0 50px 50px 50px;
}

.customize-content {
  color: black;
  right: 0;
}

.customize-image {
  width: 50%;
  height: 50vh;
  object-fit: cover;
  margin-right: 100px;
}

.customize-button-container {
  display: flex;
  flex-direction: row;
}

.customize-button {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: 5px;
}

/* === PACKAGING SECTION === */

.packaging-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  scroll-margin-top: 120px;
}

.packaging-title-text,
.packaging-body-text {
  text-align: center;
}

.packaging-body-text {
  margin-bottom: 30px;
}

.packaging-content {
  display: grid;
  grid-template-columns: repeat(4, 22.2vw);
  justify-content: center;
  max-width: 100%;
  gap: 1vw;
}

.packaging-image-container {
  width: 22.2vw;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid lightgray;
}

.packaging-image {
  background-color: #f9f8f2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.packaging-image-container:hover .packaging-image {
  transform: scale(1.5);
}

/* === LOCATION SECTION === */

.location-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: fit-content;
  position: relative;
  padding: 0;
  margin: 0 0 50px 0;
  background-color: #796862;
}

.location-content {
  position: absolute;
  color: white;
  left: 5%;
  max-width: 40vw;
}

.location-button {
  color: white;
  border: 1px solid white;
}

.location-background {
  width: 50%;
  height: 50vh;
  object-fit: cover;
}

/* === CTA SECTION === */

.cta-section {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #36483c, #222e26);
  /* background-color: #36483c; */
  color: white;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.cta-image {
  height: 100px;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.cta-buttons a {
  text-align: center;
  width: 180px;
  margin-right: 20px;
  padding: 7.5px 0 10px 0;
  transform: translateX(15px);
}

.cta-section h2 {
  justify-content: center;
  align-items: center;
}

/* === WHY SECTION === */
.why-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  background-color: rgb(247, 247, 247);
  width: 100%;
  padding: 30px;
}

.why-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  max-width: 400px;
}

.why-item a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.why-item p {
  margin: 0;
  width: 250px;
  font-size: 12px;
  text-align: center;
  padding: 0 25px;
}

.why-image-container img {
  width: 80px;
  aspect-ratio: 1/1;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .hero-section,
  .location-section {
    flex-direction: column;
    position: static;
    max-width: 100%;
    height: auto;
  }

  .hero-background,
  .location-background {
    aspect-ratio: 1/1;
    object-position: 15%;
  }

  /* === CONTENT === */

  .hero-content,
  .location-content,
  .customize-content {
    color: black;
    position: static;
    align-items: center;
    max-width: none;
    padding: 20px 25px 0 25px;
    transform: none;
  }

  /* === TITLE TEXT === */

  .title-text {
    font-size: 24px;
    text-align: center;
  }

  /* === BODY TEXT === */

  .body-text {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 14px;
  }

  /* === BUTTONS === */

  .square-button {
    border: 1px solid black;
    color: black;
  }

  /* === BEST SELLERS === */

  .best-seller-section {
    padding: 0;
  }

  .best-seller-content-wrapper {
    padding: 0 15px;
  }

  .best-seller-content {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-auto-columns: 80vw;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

    justify-content: start;
    gap: 10px;
    width: 100%;
  }

  .best-seller-item {
    scroll-snap-align: center;
  }

  .open-button,
  .mute-button {
    opacity: 1;
  }

  .best-sellers-video {
    width: 100%;
    /* aspect-ratio: 1/1; */
  }

  .best-seller-item:hover .best-sellers-video {
    transform: none;
  }

  .scroll-button {
    display: none;
  }

  /* === DESIGN SECTION === */
  .design-content-container-wrapper {
    padding: 0 15px;
    width: 100%;
  }

  .design-content-container {
    grid-template-columns: repeat(5, 35vw);

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-auto-flow: row;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    justify-content: start;
    margin-bottom: 0;
    gap: 10px;
  }

  .design-body-text {
    margin-bottom: 25px;
  }

  .design-content-container::-webkit-scrollbar {
    display: none;
  }

  .design-content {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    scroll-snap-align: start;
  }

  .design-content a {
    font-size: 12px;
  }

  .design-image-link {
    width: 35vw;
  }

  /* === CUSTOMIZE SECTION === */

  .customize-section {
    flex-direction: column;
    position: static;
    margin: 0 0px 50px 0px;
  }

  .customize-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    transform: rotate(270deg);
  }

  /* === PACKAGING SECTION === */

  .packaging-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .packaging-title-text {
    padding: 0 25px;
  }

  .packaging-body-text {
    margin-bottom: 30px;
    padding: 0 25px;
  }

  .packaging-content {
    display: grid;
    grid-template-columns: repeat(2, 45.2vw);
    justify-content: center;
    max-width: 100%;
    gap: 10px;
  }

  .packaging-image-container {
    border: 1px solid lightgray;
    width: 45.2vw;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  .packaging-image {
    background-color: #f9f8f2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* === LOCATION SECTION === */

  .location-section {
    background: none;
  }

  .location-content {
    max-width: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .location-background {
    width: 100%;
    object-position: 45%;
    object-fit: cover;
    height: auto;
  }

  /* === CTA SECTION === */

  .cta-section {
    padding: 50px 25px;
    height: auto;
  }

  .cta-image {
    height: 50px;
    margin-bottom: 50px;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  .cta-buttons a {
    color: white;
    border: 1px solid white;
    margin: 0;
    transform: none;
  }

  .cta-title-text {
    margin-bottom: 50px;
  }

  .cta-body-text {
    display: none;
  }

  /* === WHY SECTION === */
  .why-section {
    flex-direction: column;
    gap: 60px;
    padding: 50px 25px;
  }

  .why-item {
    width: 100%;
  }

  .why-item p {
    width: fit-content;
    padding: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* === BEST SELLERS === */
  .best-seller-content-wrapper {
    padding: 0 25px;
  }

  .best-seller-content {
    grid-auto-columns: 60vw;
  }

  /* === CTA SECTION === */

  .cta-section {
    aspect-ratio: 1/1;
  }

  .cta-title-text {
    margin-bottom: 10px;
  }

  .cta-body-text {
    display: block;
  }

  .cta-image {
    height: 150px;
    margin-bottom: 30px;
  }

  .cta-buttons {
    flex-direction: row;
    margin-top: 10px;
  }

  .cta-buttons a {
    text-align: center;
    width: 180px;
    margin-right: 20px;
    padding: 7.5px 0 10px 0;
    transform: translateX(15px);
  }
}

@media (min-width: 1025px) and (max-width: 1399px) {
  .hero-section {
    height: auto;
    aspect-ratio: 2/1;
  }

  .best-seller-item {
    scroll-snap-align: start;
  }

  .best-seller-item:hover .best-sellers-video {
    transform: none;
  }

  /* .mute-button {
    bottom: auto;
    left: auto;
    top: 15px;
    right: 15px;
  }

  .open-button {
    left: 15px;
    transform: none;
  } */

  .open-button,
  .mute-button {
    opacity: 1;
  }

  .customize-image {
    width: 50%;
    height: auto;
    aspect-ratio: 3/2;
    transform: none;
  }

  .cta-section {
    height: auto;
    aspect-ratio: 2/1;
  }
}
