.page-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 5px 50px 0 50px;
  gap: 50px;
}

/* item images */

.item-images {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
  height: auto;
  width: auto;
  max-height: 80vh;
  max-width: 60%;
}

.item-images__main-image-wrapper {
  display: flex;
  height: 100%;
  flex: 1;
  max-width: 80%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border: 0.5px solid rgb(250, 250, 250);
}

.item-images__main-image {
  height: 100%;
  filter: brightness(98.5%);
  scale: 1.1;
  width: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.item-images__thumbnails-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  overflow: hidden;
}

.item-images__thumbnail-image {
  width: 100%;
  object-fit: cover;
  min-height: 0;
  filter: brightness(98.5%);
  border: 0.5px solid rgb(250, 250, 250);
  cursor: pointer;
}

.item-images__thumbnails-wrapper:has(.item-images__thumbnail-image:nth-child(3))
  .item-images__thumbnail-image {
  height: calc((100% - 1rem) / 3);
}

.item-images__thumbnails-wrapper:has(.item-images__thumbnail-image:nth-child(4))
  .item-images__thumbnail-image {
  height: calc((100% - 1.5rem) / 4);
}

/* item details */

.item-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.item-details__top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item-details__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-details__item-name {
  font-size: 38px;
}

/* item specs */

.item-specs {
  display: flex;
  flex-direction: column;
}

.item-specs__title,
.item-specs__detail-title {
  font-weight: 400;
}

.item-specs__gender {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.item-specs__gender-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex: 1;
  height: 100%;
  gap: 7px;
}

.item-specs__detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1.5px solid black;
  padding: 7.5px 0;
  height: 100%;
}

.item-specs__detail-content {
  text-align: right;
}

.item-details__bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-details__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-details__buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item-details__ask-button {
  flex: 1;
  padding: 7.5px 0;
  font-family: "Sora", Arial, Helvetica, sans-serif;
  border: 1px solid black;
  font-size: 16px;
  background-color: black;
  color: white;
  font-weight: 500;
}

.item-details__favorite-button {
  display: flex;
  padding: 7.5px;
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  background-color: white;
}

/* discover */

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* packaging */
.packaging {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.packaging__banner {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 50px 100px;
  align-items: center;
  justify-content: center;
  height: 60vh;

  color: white;
  background: radial-gradient(circle at 70% 50%, #36483c, #222e26);
  gap: 10vw;
}

.packaging__banner-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 25vw;
  text-align: center;
}

.packaging__banner-image-wrapper {
  height: 100%;
  align-items: center;
  width: fit-content;
}

.packaging__banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.packaging__items-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 22.2vw);
  justify-content: center;
  max-width: 100%;
  gap: 1vw;
}

/* phone screen */
@media (max-width: 1024px) {
  .item {
    flex-direction: column;
    padding: 5px 0 0 0;
    gap: 25px;
    max-height: none;
  }

  /* item images */

  .item-images {
    flex-direction: column;
    gap: 0;
    height: 100%;
    max-height: none;
    max-width: none;
    width: 100%;
  }

  .item-images__main-image-wrapper {
    display: none;
  }

  .item-images__main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .item-images__thumbnails-wrapper {
    flex-direction: row;
    padding: 0 25px;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .item-images__thumbnail-image {
    scroll-snap-align: center;
  }

  /* item details */

  .item-details {
    width: 100%;
    flex: auto;
    padding: 0 25px;
    justify-content: flex-start;
  }

  /* item specs */

  .item-specs {
    display: flex;
    flex-direction: column;
  }

  .item-specs__gender {
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
  }

  /* discover */

  .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  /* packaging */
  .packaging {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .packaging__banner {
    flex-direction: column-reverse;
    padding: 0;
    height: 100%;
    background: none;
    color: black;
    gap: 0;
  }

  .packaging__banner-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: none;
    padding: 25px;
    text-align: center;
  }

  .packaging__banner-image-wrapper {
    aspect-ratio: 1/1;
    background: radial-gradient(circle at 70% 50%, #36483c, #222e26);
    align-items: center;
    padding: 25px;
    width: 100%;
  }

  .packaging__banner-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .packaging__items-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: none;
    grid-auto-columns: none;
    gap: 15px;
    width: 100%;
    padding: 0 25px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .item-images__thumbnails-wrapper {
    padding: 0 50px;
  }

  .item-details {
    padding: 0 50px;
  }

  .item-specs__gender {
    flex: 1;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .item-specs__gender-wrapper {
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: 7px;
  }

  .packaging__banner-image-wrapper {
    padding: 50px;
  }

  .packaging__items-wrapper {
    padding: 0 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1399px) {
  .item-images {
    max-width: 50vw;
  }
}
