*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans";
  margin: 0 auto;
  padding: 0;
  padding-top: 105px;
  overflow-x: hidden;
}

a,
div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

a:focus-visible {
  outline: 2px solid lightgray;
}

a:active,
a:visited {
  color: inherit;
}

.text-button {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.text-button::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1.5px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.text-button:hover::after {
  width: 100%;
}


body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
}

