section {
  padding: 0px 50px;
  margin-bottom: 50px;
  font-family: "Sora", Arial, Helvetica, sans-serif;
}

.title-section {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wishlist-title-text {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 500;
}

.wishlist-body-text {
  font-size: 14px;
  font-weight: 400;
}

.content-section {
  display: grid;
  grid-template-columns: repeat(4, 25.5%);
  width: 100%;
  padding: 0 50px;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  section {
    padding: 0px 25px;
  }

  .title-section {
    align-items: center;
    justify-content: center;
  }

  .wishlist-body-text {
    text-align: center;
  }

  .content-section {
    grid-template-columns: repeat(2, 48%);
    gap: 10px;
    padding: 0 25px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .content-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 50px;
  }
}
